.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.integrantes-group {
  display: flex;
  gap: 10px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-icons {
  display: flex;
  gap: 10px;
}

.docx-icon {
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;

  text-align: center;
  line-height: 50px;
  font-size: 16px;
}

.file-icon svg {
  margin-top: -10px; /* Ajusta este valor según sea necesario */
}

.file-icon:hover {
  background-color: #ffefef;
  border-radius: 7px;
}
.adjuntarDocumento {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.file-icon svg {
  margin-top: -10px; /* Ajusta este valor según sea necesario */
}

.file-icon:hover {
  background-color: #f0f0f0;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Asegura que haya un espacio entre el botón y el ícono */
}

.btn-submit:hover {
  background-color: #218838;
}
